$blueMain : #001860;

div {
  margin: 0;
  padding: 0;
}
p{
   margin: 10px;
   padding: 0; 
   color: $blueMain;
}
nav{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .mainNav{
        width: 70vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10rem;
        .icons{
        display: flex;
        gap: 1rem;
        svg{
            color: $blueMain;
            width: 40px;
            height: 40px

        }
        div{
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            line-height: 0;
            
        }
    }
    }

    .categories{
        
        border: 1px $blueMain solid;
        border-radius: 10px;
        margin: 0 0 10px 0;
        ul{
            width: 70vw;
            display: flex;
            justify-content: space-between;
            margin: 0;
            padding: 0;
            li{
                list-style: none;
                flex-grow: 1;
            }
            li:hover{
                background-color: $blueMain;
                cursor: pointer;
                p{
                    color: white;
                }
                
            }
        }
    }
    
}

img{
    width: 20rem;
}

